<fop version="1.1"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:noNamespaceSchemaLocation="http://svn.apache.org/viewvc/xmlgraphics/fop/trunk/src/foschema/fop-configuration.xsd?view=co">
   <base>./</base>
   <strict-configuration>true</strict-configuration>
   <strict-validation>true</strict-validation>
   <source-resolution>96</source-resolution>
   <target-resolution>96</target-resolution>
   <default-page-settings height="29.7cm" width="21cm"/>
   <renderers>
      <renderer mime="application/pdf">
         <fonts>
            <auto-detect/>
         </fonts>
      </renderer>
   </renderers>
</fop>
