<!DOCTYPE html>
<html lang="sk">
   <head>
      <title>Písomkový server</title>
      <meta name="description" content="Chybová stránka písomkového servera">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/svg+xml" href="/pubres/img/faviconP.svg"/>
      <link nonce="NGINX_CSP_NONCE" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"/>
      <link rel="stylesheet" type="text/css" href="pubres/css/testy.css"/>
   </head>
   <body>
      <div class="centrovane">
         <h1>Písomkový server</h1>
         <div class="alert alert-danger">Stránka nenájdená!</div>
         Vráťte sa na <a href="https://pisomky.ternac.net">úvodnú stránku</a> a skúste to znovu.
      </div>
   </body>
</html>
